<div ng-show="err" class="alert alert-danger" role="alert">{{err}}</div>
<div ng-show="msg" class="alert alert-success" role="alert">{{msg}}</div>

<form>
    <fieldset>
        <legend>Profile</legend>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <label>
                <span>Display Name:</span>
                <input ng-model="profile.displayName" class="form-control" type="text"/>
            </label>
          </div>
          <div class="col-md-2"></div>
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <label>
                <span>Email:</span>
                <input ng-model="profile.email" class="form-control" type="text" disabled/>
            </label>
          </div>
          <div class="col-md-2"></div>
        </div>
    </fieldset>
</form>

<form>
    <fieldset>
        <legend>Change Password</legend>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <label>
                <span>Old Password:</span>
                <input type="password" class="form-control" ng-keypress="clear()" ng-model="oldpass"/>
            </label>
          </div>
          <div class="col-md-2"></div>
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <label>
                <span>New Password:</span>
                <input type="password" class="form-control" ng-keypress="clear()" ng-model="newpass"/>
            </label>
          </div>
          <div class="col-md-2"></div>
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <label>
                <span>Confirm New Password:</span>
                <input type="password" class="form-control" ng-keypress="clear()" ng-model="confirm"/>
            </label>
          </div>
          <div class="col-md-2"></div>
        </div>
        <div class="row">
          <div class="col-md-12">&nbsp;</div>
        </div>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <button ng-click="changePassword(oldpass, newpass, confirm)" class="btn btn-lg btn-primary btn-block">change password</button>
          </div>
          <div class="col-md-4"></div>
        </div>
    </fieldset>
</form>
<form>
    <fieldset>
        <legend>&nbsp;</legend>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <button ng-click="logout()" class="btn btn-lg btn-primary btn-block">Log Out</button>
          </div>
          <div class="col-md-4"></div>
        </div>
    </fieldset>
</form>
