<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/1.0.15/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
  </head>
  <body ng-controller="IMController">
    <div>
      <header>Add Container</header>
      <div>
        <label for='listName'>Name</label>
  <input ng-model='listName' class="form-control" type='text' id='listName' placeholder='enter a list name...'><br>
  <label for='parentName'>Parent</label>
        <select ng-model='parentName' id='parentName' ng-options='container.name for container in userGLs'>
        	<option value="">-- Choose parent --</option>
        </select><br>
        <button ng-click="addContainer()">Add</button>
      </div><br>
      <header>All Containers</header>
      <!--<ul id='containersList'>
        <li ng-repeat='container in userGLs'>
          <strong>Name : </strong>{{container.name}}   <strong>Owner : </strong>{{container.owner}}
        </li>
      </ul>-->
      <ul id='containersList'>
        <li ng-repeat='(key, value) in userObjs'>
          <strong>Name : </strong>{{key}} &nbsp; <input type='text' class="form-control" id='item'+{{key}} placeholder='enter an item...'><button ng-click="addItem('Item2',key)">Add Item</button>
          <ul id='objsList'+{{key}}+''>
            <li ng-repeat='object in value'>
              {{object.data}}
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </body>
